PORT=2000

# DATABASE
DATABASE_URL=

# BETTER-AUTH
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=

# SMTP (Nodemailer)
SMTP_HOST=
SMTP_PORT=
SMTP_SECURE=
SMTP_USER=
SMTP_PASS=
SMTP_FROM=

# Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# PAYMENT (Midtrans)
MIDTRANS_SERVER_KEY=
MIDTRANS_CLIENT_KEY=

# GEOCODING (OpenCage)
OPENCAGE_API_KEY=

# REGION DATA (RajaOngkir)
RAJAONGKIR_API_KEY=
